<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Account Management</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyowNIV6z2veigbG95K7wqDOplG73gJNl"
    crossorigin="anonymous">
  <style>
    body {
      background-color: #000;
      color: #fff;
    }

    .container {
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <div class="container">
    <% if (user) { %>
      <h2>Welcome, <%= user.name %></h2>
      <p>Email: <%= user.email %></p>
      <p><a href="/logout">Logout</a></p>
    <% } else { %>
      <h2>Login to Manage Your Account</h2>
      <p><a href="/login">Login</a></p>
    <% } %>
  </div>
</body>

</html>