<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QGenie - Your Exam Question Companion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="
    https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css
    " rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./assets/new/QTP.svg" />
</head>
<body class="bg-gradient-to-r from-indigo-500 to-blue-500">
    <nav class="flex items-center justify-between flex-wrap bg-transparent p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/"><img src="./assets/new/logo.png" alt="QGenie Logo" class="h-12 w-auto"></a>
        </div>
    </nav>
<noscript>
    <div class="flex items-center justify-center">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Enable JavaScript!</strong>
            <span class="block sm:inline">This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.</span>
        </div>
    </div>
</noscript>
    <main class="container mx-auto mt-8 px-8">
        <div class="flex flex-col items-center justify-center">
            <h2 class="text-2xl font-bold text-white mb-4">Generate an Exam-Style Question</h2>
            <p class="text-white mb-8">Select a prompt from the syllabus below and click the button to generate 5 exam style questions.</p>
                    <form id="question-form" class="w-full max-w-sm">
                        <div class="flex items-center border-b border-b-2 border-white py-2">
                            <div class="relative w-full mr-3">
                                <select id="prompt" name="prompt" class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none">
                                    <option value="none">Select a Prompt</option>
                                    <option value="1">A Level Edexcel Economics A: Introduction to Markets and Market Failure</option>
                                    <option value="2">Edexcel A Level Economics A: The UK Economy - Performance and Policies</option>
                                    <option value="3">AQA A Level History: Tsarist and Communist Russia, 1855-1964</option>
                                    <option value="4">AQA A Level History: The English Revolution, 1625-1642</option>
                                    <option value="5">Edexcel A Level Mathematics: Year 1 Stats and Mechanics</option>
                                    <option value="6">Edexcel A Level Mathematics: Year 1 Pure</option>                                    
                                    <option value="7">Edexcel A Level Mathematics: Year 2 Pure</option>
                                    <option value="8">Edexcel A Level Mathematics: Year 2 Stats and Mechanics</option>
                                    <option value="9">AQA A Level Geography: Physical Geography</option>
                                    <option value="10">AQA A Level Geography: Human Geography</option>
                                    <option value="11">Edexcel A Level Government and Politics: UK Government</option>
                                    <option value="12">Edexcel A Level Government and Politics: UK Politics</option>
                                    <option value="13">OCR A Level Media Studies: Media Messages</option>
                                    <option value="14">AQA A Level Biology</option>
                                    <option value="15">Edexcel A Level Chemistry: Advanced Inorganic and Physical Chemistry</option>
                                    <option value="16">Edexcel A Level Chemistry: Advanced Organic and Physical Chemistry</option>
                                    <option value="17">Edexcel A Level Government and Politics: Global Politics</option>
                                    <option value="18">Edexcel A Level Government and Politics: Core and Non-core Political Ideas</option>
                                </select>
                            </div>
                            <button id="generate-btn" class="flex-shrink-0 bg-white hover:bg-gray-300 border-white hover:border-gray-300 text-indigo-500 hover:text-white border-4 text-sm font-bold py-1 px-2 rounded" type="button">
                                Generate Question
                            </button>
                        </div>
                        <div class="flex items-center border-b border-b-2 border-white py-2">
                            <div class="relative w-full mr-3">
                        <div id="nested-select" class="hidden w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none">
                            <select id="sub-prompt" name="sub-prompt" class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none rounded">
                                <!-- Options will be added dynamically -->
                            </select>
                        </div>
                        </div>
                        </div>
                    </form>
            <div id="question-container" class="mt-8"></div>
            </div>
        </div>
    </main>

    <script src="./bundle.js"></script>
</body>
</html>