<html>
    <!-- Stripe Integration, but minimal page to display prices for QGenius and QGenius+-->
    <head>
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="stylesheet" href="../output.css">
        <script src="https://kit.fontawesome.com/12061f55da.js" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="icon" href="./assets/new/QTP.svg" />
        <link rel="stylesheet" href="../home.css">
    </head>
    <body class="bg-gray-900 mx-8">
      <nav class="flex items-center justify-between flex-wrap bg-transparent p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/"><img src="./assets/new/logo.png" alt="QGenie Logo" class="h-12 w-auto"></a>
        </div>
    </nav>
    <h1 class="text-3xl font-bold text-white">Please choose one of our plans below:</h1>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1OcXmhAkSsK60ovbCteOaeZ9"
publishable-key="pk_live_51O86lQAkSsK60ovboiuE0DHapW2DYu8mWaXCsggepq0uwjK4ZUs7FG1T4mADrb2QOTneyINjIvgdExQOei6yWSxu00Qu2FqDYP" customer-email="{{user.email}}">
</stripe-pricing-table>
    <
    </body>

</html>