<html>
    <!-- Stripe Integration, but minimal page to display prices for QGenius and QGenius+-->
    <head>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body class="bg-gray-900 mx-8">
        <nav class="navbarmenu sticky bg-white bg-opacity-50 mt-5 top-0 md:h-18">
          <div class="container flex justify-between items-center sticky  px-8 mx-auto md:flex">
          <img src="../assets/new/QGL.svg" class="size-24 my-auto" alt="Tailwindcss Navigation">
    
          <ul class="hidden md:flex my-auto space-x-6">
            <li><a href="#">Home</a></li>
            <li><a href="#" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">Features</a></li>
            <li><a href="#" onclick="document.getElementById('testimonials').scrollIntoView({behavior: 'smooth'})">Testimonials</a> </li>
            <li><a href="#" onclick="document.getElementById('pricing').scrollIntoView({behavior: 'smooth'})">Pricing</a></li>
            <li><a href="#" onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth'})">Contact</a></li>
          </ul>
    
          <a href="#" class="bg-yellow-400 mr-2 px-5 py-1 rounded-3xl hover:bg-yellow-500 text-white hidden md:flex" role="button">Sign In</a>
    
        <!-- Mobile menu icon -->
        <button id="mobile-icon" class="md:hidden">
          <i onclick="changeIcon(this)" class="fa-solid fa-bars"></i>
        </button>
        
        </div>    
      
      <!-- Mobile menu -->
      <div class="md:hidden flex justify-center bg-gray-300 bg-opacity-50 mt-3 w-full">
        <div id="mobile-menu" class="mobile-menu absolute top-23 w-full rounded-full"> <!-- add hidden here later -->
          <ul class="bg-gray-100 shadow-lg leading-9 font-bold h-screen">
            <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"><a href="#" class="block pl-7">Home</a></li>
            <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"><a href="#" class="block pl-7" onclick="smoothScroll(document.getElementById('features'))">Features</a></li>
            <li class="border-b-2 border-white hover:bg-red-400 hover:text-white"><a href="#" class="block pl-11" onclick="smoothScroll(document.getElementById('testimonials'))">Testimonials</a></li>
            <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"><a href="#" class="block pl-7" onclick="smoothScroll(document.getElementById('pricing'))">Pricing</a></li>
            <li class="border-b-2 border-white hover:bg-red-400 hover:text-white pl-4"><a href="#" class="block pl-7" onclick="smoothScroll(document.getElementById('contact'))">Contact</a></li>
          </ul>
          </div>
      </div>
    </nav>
    <script>
      const mobile_icon = document.getElementById('mobile-icon');
    const mobile_menu = document.getElementById('mobile-menu');
    const hamburger_icon = document.querySelector("#mobile-icon i");
    
    function openCloseMenu() {
    mobile_menu.classList.toggle('block');
    mobile_menu.classList.toggle('active');
    }
    
    function changeIcon(icon) {
    icon.classList.toggle("fa-xmark");
    }
    
    mobile_icon.addEventListener('click', openCloseMenu);
    
    
    </script>
    <h1>Please choose one of our plans below:</h1>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1OcXmhAkSsK60ovbCteOaeZ9"
publishable-key="pk_live_51O86lQAkSsK60ovboiuE0DHapW2DYu8mWaXCsggepq0uwjK4ZUs7FG1T4mADrb2QOTneyINjIvgdExQOei6yWSxu00Qu2FqDYP" customer-email="{{user.email}}">
</stripe-pricing-table>
    </body>

</html>